.cart-main-container {
  min-height: 100vh;
  height: 100%;
  background-color: rgb(238, 238, 243);
}

.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
  max-width: 100%;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */

.remove-all-button {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    rgb(141, 7, 168),
    rgb(199, 16, 190)
  );
  border: none;
  border-radius: 5px;
  padding: 10px 18px;
  outline: none;
  cursor: pointer;
  align-self: flex-end;
}
